<footer class="app-footer">
  <div class="footer-content">
    <p>&copy; 2025 Dhruv - Company Management System</p>

    <div class="footer-icons">
      <a href="tel:+917862832972" title="Call on Facebook">
        <i class="fab fa-facebook-f"></i> <span>+91 7862832972</span>
      </a>
      <a href="https://github.com/dhruv005432" target="_blank" title="GitHub Profile">
        <i class="fab fa-github"></i> <span>dhruv005432</span>
      </a>
      <a href="mailto:dhruvdhameliya357@gmail.com" title="Send Email">
        <i class="fas fa-envelope"></i> <span>dhruvdhameliya357&#64;gmail.com</span>
      </a>
      <a href="https://twitter.com/DhruvDhame82063" target="_blank" title="Twitter Profile">
        <i class="fab fa-twitter"></i> <span>&#64;DhruvDhame82063</span>
      </a>
      <a href="https://wa.me/917862832972" target="_blank" title="Chat on WhatsApp">
        <i class="fab fa-whatsapp"></i> <span>+91 7862832972</span>
      </a>
    </div>
  </div>
</footer>
